/* You can add global styles to this file, and also import other style files */
/* Updated color scheme */

::-webkit-scrollbar {
  width: 0px; /* Hide scrollbar */
  height: 0px; /* Hide horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background: transparent; /* Make thumb invisible */
}



.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.table th {
  background-color: #343a40 !important;
  color: white !important;
}

.btn-success:hover {
  background-color: #28a745;
  color: white;
}

.btn-warning:hover {
  background-color: #ffcc00;
  color: black;
}

img {
  border-radius: 8px;
}

.card {
  border-radius: 10px;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.02);
}

.badge {
  font-size: 14px;
  padding: 6px 12px;
}

.btn-outline-primary.active {
  background-color: #007bff !important;
  color: white !important;
}
